@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.grid-dimensions {
  width: 4000px;
  height: 2000px;
}

.left-120 {
  left: 30rem
}
.left-180 {
  left: 45rem
}
.right-120 {
  right: 30rem
}

.menu-dimensions {
  width: 1920px;
  height: 1080px;
}

@media (min-width: 640px) {
  .sm\:menu-width {
      width: 35rem;
  }
}

.bg-img {
  background-image: url("/wood-textures/simon-berger-JH_R66BihvA-unsplash.jpg");
}

.center-arrow {
  left: 20%
}

.pr-option {
  padding-right: 7px;
}

.px-sm {
  padding-left: 1px;
  padding-right: 1px;
}

.py-sm {
  padding-top: 1px;
  padding-bottom: 1px;
}

.popover-y-container {
  --tw-translate-y: -100px
}

.popover-y-arrow {
  --tw-translate-y: -8px
}

.stack-h {
  height: 136px;
}

.mb-xs {
  margin-bottom: 1px;
}

.bg-light-brown {
  --tw-bg-opacity: 1;
  background-color: rgb(196 164 132 / var(--tw-bg-opacity));
}

.border-light-brown {
  --tw-border-opacity: 1;
  border-color: rgb(196 164 132 / var(--tw-border-opacity));
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
